<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login Modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered align-items-center justify-content-center" role="document">
    <div class="modal-content ">
      <div id="login" class="mx-4 mt-4 mb-3">
        <div class="align-items-center justify-content-center">
          <form class="text-center" action="/login" method="POST">
            <button type="button" class="close align-middle" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <img src="/images/icons/tent-solid.svg" alt="">
            <h3 class="mt-1 mb-0">Log In</h1>
            <div id="login-modal-error-msg" class="text-danger"></div>
            <div class="mt-1">
              <div class="form-group mb-2">
                <input class="form-control shadow-none" type="text" name="username" placeholder="Username">
                <input class="form-control shadow-none border-top-0" type="password" name="password" placeholder="Password">
              </div>
              <p class="mb-0 mb-2"><a href="/reset" class="text-success">Forgot your password?</a></p>
              <button class="btn green-btn btn-block mt-1">Log In</button>
              <a href="/users/new" class="btn btn-block grey-btn">Create Account</a>
            </div>
          </form>
        </div>
      </div>      
    </div>
  </div>
</div>