<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">YelpCamp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/campgrounds">Campgrounds</a>
          </li>
        </ul>
    
        <ul class="navbar-nav mr-5">
          <li>
              <button class="btn btn-outline-success mr-2 my-2 my-sm-0" type="submit">Sign Up</button>
          </li>
            <li>
              <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Log In</button>
          </li>
        </ul>
      </div>

  </div>
</nav>