<% include partials/header %>
<% include partials/navbar %>

  <!-- About Content -->
  <main id="about" class="container">

    <div class="row align-items-center justify-content-center flex-column flex-lg-row">
      <figure class="col-12 col-lg-10 image-container p-0 mt-sm-5">
        <img src="https://res.cloudinary.com/dh4wiyfnw/image/upload/v1589899722/website_assets/IMG_2537_spduhe.jpg">
        <figcaption>
          <h1>About Camplify</h1>
        </figcaption>
      </figure>
      <div class="col-lg-8">
        <h2 class="text-center mt-3">Features</h2>
        <p class="text-justify">
          Camplify is an application for finding, reviewing, and uploading campgrounds. The <a href="/campgrounds">campgrounds page</a> features a sortable grid of cards 
          with all of the user-submitted campgrounds. Each card contains a link to the campground's unique page, which provides additional information and contains the
          campground's ratings and reviews. Creating an account enables users to create new campgrounds or rate, review, and favorite existing campgrounds. Each
          user account has a profile page containing the user's recent activity, posted campgrounds, reviews, favorites, and profile settings. Users can visit other
          profile pages if their profile visibility is set to 'public'. 
        </p>
        <h2 class="text-center mt-5">Technologies</h2>
        <p>
          Camplify is based on my final project for an online web development course. In this project, I've been able to implement
          the various technologies I've learned throughout the course. Camplify employs the following technologies:
        </p>  
          <ul>
            <li>Node.js</li>
            <li>Express</li>
            <li>MongoDB / MongoDB Atlas</li>
            <li>EJS Templating for generating HTML</li>
            <li>CSS / Bootstrap</li>
            <li>jQuery</li>
          </ul>
        <p>
          For a full list of the Node packages used by Camplify, please view the package.json file in the Github directory.
        </p>
      
        <h2 class="text-center mt-5">Content</h2>
        <p class="text-justify mb-5 ">
          Camplify was created as an educational project for the purpose of learning new web technologies (especially back-end technologies) and practicing my
          web development skills. As such, all of the content on Camplify is fake. None of the campgrounds, reviews, or user accounts are real. All of the images,
          graphics, and icons are obtained from free online sources.
          Please feel free to create a new account or use Camplify's guest account (username: <em>Guest</em>, password: <em>password</em>).
        </p>
      </div>
    </div>
  </main>

<% include partials/footer %>
