<% include partials/header %>
<% include partials/navbar %>

<main class="d-flex align-items-center">
<div class="container">
    <div class="row align-items-center justify-content-center">
        <form class="col-12 col-sm-10 col-md-8 col-lg-6 m-auto text-center" action="/reset" method="POST">

            <img class="form-logo" src="/images/icons/tent-solid.svg">
            <h1 class="mt-1">Reset Password</h1>
            <div class="form-group mt-4 d-flex flex-column justify-content-center align-items-center">
                <label for="email">Please enter the email address associated with your account:</label>
                <input class="form-control shadow-none " type="email" name="email" placeholder="Email Address" required>
                <button class="btn green-btn mt-4">Request Reset Link</button>
            </div>

        </form>
    </div>
</div>
</main>

<% include partials/footer %>