/* 
Colors:
    Base Green: #1a4c1a
    NEW Base: #2b3b2b
    Light Base: #2e852e
    Lighter Base: #d1dbd2 (equivalent to rgba(26, 76, 26, 0.20))


    POTENTIAL PALETTE: http://paletton.com/#uid=72P0u0k8G9g6Pmi8dgEg48nlP75
    POTENTIAL HEADER COLOR: #b8c7c7
    POTENTIAL CARD BUTTON COLOR: #142828
*/

html {
    height: 100%;
}

body {
    padding-top: 56px;
    color: #303630;
    font-family: 'PT Sans', sans-serif;

}

a {
    color: inherit;
    transition: 0.1s;
}

a:hover {
    color: inherit;
}

.light-green {
    background-color: #d1dbd2;
    color: #303630;
}

#navbar {
    color: #d1dbd2;
    background-color: #2b3b2b;
    box-shadow: 0 2px 10px rgba(0,0,0,.4);
}

#navbar img {
    width: 26px;
    height: 26px;
}

#navbar li > a:hover {
    color: white;
}

.flash {
    margin-top: 65px;
}

/*#index-container {*/
/*    background-color: white;*/
/*}*/

/* ----------------- CAMPGROUND INDEX STYLES -------------- */

#index-header {
    color: #1a4c1a;
    background-color: white;
    
}

#index-header h1 {
    font-family: 'Raleway', sans-serif;
}

.dropdown {
    display: inline-block;
}

.card {
    border: 1px solid #d1dbd2;
}

.hover-shadow{
    transition: 0.1s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.camp-index-img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    object-position: 50% 75%;
}

.camp-index-header span {
    height: 26px;
    margin-top: auto;
    margin-bottom: auto;
}

.camp-index-body {
    padding: 10px;
}

.camp-index-title {
    vertical-align: middle;
}

.favorite-form {
    
}

.favorite-form span {
    font-size: 1.25rem;
    color: #b30047;
}

.favorite-btn {
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0) !important;
    width: 30px;
    height: 30px;
    background-size: 100%;
    transition: 0.1s;
}

.card-header .favorite-btn {
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
}

.card-header .favorite-btn small {
    font-size: 20px !important;
}

.unfavorited {
    background-image: url("/images/icons/heart-outline.png");
    transition: 0.1s;
}

.unfavorited:hover {
    background-image: url("/images/icons/heart-solid.png");
    transition: 0.1s;
}

.favorited {
    background-image: url("/images/icons/heart-solid.png");
    transition: 0.1s;    
}

.favorited:hover {
    background-image: url("/images/icons/heart-solid-dark.png");
    transition: 0.1s;
}


/*------------------------------------------------------------- */

.camp-show-title {
    height: auto;
}

#average-rating {
    margin-right: 5px;
}

#reviews-section {
    margin-bottom: 100px;
}

.delete-form {
    display: inline-block;
}

.delete-form .btn {
    border-radius: 0 0.2rem 0.2rem 0;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.user-button {
    width: 35px;
    height: 35px;
    line-height: 35px;
    justify-content: center;
    align-items: center;
    vertical-align: center;
}

.btn-group img {
    position: relative;
    bottom: 2px;
    margin-right: 3px;
}

#map {
    width: 100%;
    border: 1px solid #d1dbd2;
}

.list-group-item {
    border: 1px solid #d1dbd2;
}

.new-btn {
    color: white;
    background-color: #405940;
    padding-top: 4px;
}

.new-btn:hover {
    color: white;
    background-color: #326732;
}

.new-btn img {
    top: 0;
    margin-right: 5px;
}

.new-btn span {
    vertical-align: middle;
}

.new-btn.round {
    border-radius: 20px;
}

/* This styling fixes the default styling for the map control buttons on the Google Maps display*/

.gm-style-mtc label {
    margin-bottom: 0 !important;
}

.gm-style-mtc img {
    transform: translateY(0) !important;
    margin-bottom: 2px !important;
    margin-right: 3px !important;
}

/* ----------------- LOGIN STYLES ------------------- */

#login {
    height: 100%;
}

#login .row {
    height: calc(90vh - 56px);
}

#login form {
    
}

#login img {
    width: 80px;
    height: 80px;
}

#login .form-control:nth-of-type(1) {
    border-radius: 0.25rem 0.25rem 0 0;
    border-color: #d1dbd2;
}

#login .form-control:nth-of-type(2) {
    border-radius: 0 0 0.25rem 0.25rem;
    border-color: #d1dbd2;
}

#login-modal .modal-content {
    max-width: 350px;
}

#login-modal .close {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 50px;
    width: 50px;
    font-size: 40px;
    outline: none;
}

#login-modal-error-msg {
    min-height: 24px;
}

/* -------------- USER PROFILE --------------- */

#user-profile {
    margin-top: 5vh;
}

#user-profile .list-group-item-action {
    border-right: 1px solid #dee2e6;
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
    border-radius: 5px 0 0 5px;
}

#user-profile .list-group-item-action:nth-of-type(5) {
    border-top: 1px solid #dee2e6;
}

#user-profile .list-group-item-action.active {
    border-right: none;
}

/* Recent Activity Tab*/
#recent-content .list-group li, 
#reviews-content .list-group li,
#favorites-content .list-group li {
    box-sizing: border-box;
    border-bottom: 2px solid #dee2e6;
    border-right: 0;
    border-top: 0;
    border-left: 0;
    transition: 0.05s;
}

#recent-content .list-group li:last-of-type,
#reviews-content .list-group li:last-of-type,
#favorites-content .list-group li:last-of-type {
    border: 0;
}


#recent-content .list-group li:hover,
#reviews-content .list-group li:hover,
#favorites-content .list-group li:hover {
    background-color: #e2e9e9;
}

#recent-content .list-group li img, 
#reviews-content .list-group li img,
#favorites-content .list-group li img {
    height: 80px;
    width: 120px;
    object-fit: cover;
}

/* User Campgrounds Tab */

#campgrounds-content img {
    height: 200px;
    object-fit: cover;
}
#campgrounds-content .favorite-btn {
    width: 20px;
    height: 20px;
    /*margin-bottom: 2px;*/
}

