body {
    padding-top: 56px;
    /*background-color: #f2f2f2;*/
    /*background-color: rgba(0, 51, 0, 0.15)*/
}

#navbar {
    background: none;
    color: white;
    /*background-color: #003300;*/
}

/*#index-container {*/
/*    background-color: white;*/
/*}*/

#index-header {
    background-color: white;
    color: #0d260d;
}

.card-header{
    background-color: #f2f2f2;
}

.card-body {

}

.camp-index-img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    object-position: 50% 75%;
}

.camp-index-body {
    padding: 10px;
}

.camp-index-title {
    line-height: 35px;
    vertical-align: middle;
}

.camp-show-title {
    height: auto;
}

.delete-form {
    display: inline-block;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.user-button {
    width: 35px;
    height: 35px;
    line-height: 35px;
    justify-content: center;
    align-items: center;
    vertical-align: center;
}

.user-button img {
    position: relative;
    bottom: 2px;
}