/* 
Colors:
    Base Green: #1a4c1a
    NEW Base: #2b3b2b
    Light Base: #2e852e
    Lighter Base: #d1dbd2 (equivalent to rgba(26, 76, 26, 0.20))
*/


body {
    padding-top: 56px;
    color: #303630;
    /*background-color: #f2f2f2;*/
    /*background-color: rgba(0, 51, 0, 0.15)*/
}

a {
    color: inherit;
    transition: 0.1s;
}

a:hover {
    color: inherit;
}

.light-green {
    background-color: #d1dbd2;
    color: #303630;
}

#navbar {
    color: #d1dbd2;
    background-color: #2b3b2b;
}

#navbar a:hover {
    color: white;
}

/*#index-container {*/
/*    background-color: white;*/
/*}*/

/* ----------------- CAMPGROUND INDEX STYLES -------------- */

#index-header {
    color: #1a4c1a;
    background-color: white;
}

.dropdown {
    display: inline-block;
}

.card {
    border: 1px solid #d1dbd2;
}

.camp-index-img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    object-position: 50% 75%;
}

.camp-index-header span {
    height: 26px;
    margin-top: auto;
    margin-bottom: auto;
}

.camp-index-body {
    padding: 10px;
}

.camp-index-title {
    vertical-align: middle;

}

/*------------------------------------------------------------- */

.camp-show-title {
    height: auto;
}

#average-rating {
    margin-right: 5px;
}

#reviews-section {
    margin-bottom: 100px;
}

.delete-form {
    display: inline-block;
}

.delete-form .btn {
    border-radius: 0 0.2rem 0.2rem 0;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.user-button {
    width: 35px;
    height: 35px;
    line-height: 35px;
    justify-content: center;
    align-items: center;
    vertical-align: center;
}

.btn-group img {
    position: relative;
    bottom: 2px;
    margin-right: 3px;
}

#map {
    width: 100%;
    border: 1px solid #d1dbd2;
}

.list-group-item {
    border: 1px solid #d1dbd2;
}

.new-btn {
    color: white;
    background-color: #405940;
    padding-top: 5px;
}

.new-btn:hover {
    color: white;
    background-color: #326732;
}

.new-btn img {
    margin-right: 5px;
}

.new-btn.round {
    border-radius: 20px;
}

/* This styling fixes the default styling for the map control buttons on the Google Maps display*/

.gm-style-mtc label {
    margin-bottom: 0 !important;
}

.gm-style-mtc img {
    transform: translateY(0) !important;
    margin-bottom: 2px !important;
    margin-right: 3px !important;
}

/* ----------------- LOGIN STYLES ------------------- */

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
}