<% include ../partials/header %>
<% include ../partials/navbar %>

<div class="container">
    <div class="jumbotron my-4">
      <h1 class="display-4 text-center">Welcome to YelpCamp!</h1>
      <p class="lead text-center">Beautiful campgrounds for beautiful people</p>
      <hr class="my-4">
      <p>Explore our hand-picked campgrounds from across America</p>
      <a class="btn btn-primary btn-md" href="/campgrounds/new" role="button">Add New Campground</a>
    </div>    
    
    <div class="row">

        <% campgrounds.forEach((campground) => { %>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card shadow">
                    <img class="card-img-top camp-index-img" src="<%= campground.image %>">
                    <div class="card-header">
                        <h4 class="camp-index-title text-center align-top m-0"><%= campground.name%></h4>
                    </div>
                    <div class="card-body camp-index-body m-2">
                        <p class="card-text"><%= campground.description %></p>
                        <a href='/campgrounds/<%= campground._id %>' class="card-link">More Info</a>
                    </div>
                </div>
            </div>
        <% }) %>
                
        
    </div>
        
</div>
<% include ../partials/footer %>