<% include ../partials/header %>
<% include ../partials/navbar %>

<main class="d-flex flex-column justify-content-center">

  <form class="container mt-3 campground-form" action="/campgrounds" method="POST" enctype="multipart/form-data">

    <div class="form-row my-4 align-items-center justify-content-center">
      <img src="/images/icons/tent-solid.svg" class="form-logo mr-sm-4">
      <h1 class="header text-center m-0 p-sm-0 col-12 col-sm-auto">Create a New Campground</h1>      
    </div>

    <div class="form-row">
      <div class="form-group col-sm-8">
        <label for="campgroundName">Name</label>
        <input type="text" class="form-control" name="name" id="campgroundName" placeholder="e.g., 'Blue Mountain Campgrounds'" required>
      </div>
      <div class="form-group col-sm-4">
        <label for="campPrice">Price / Day</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
        <input id="campPrice" type="number" class="form-control" name="price" placeholder="0.00" min="0.01" step="0.01" required>
          
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <label for="location">Location</label>
        <input class="form-control" type="text" name="location" id="location" placeholder="e.g., 'Yosemite National Park, CA'" required>
      </div>      
    </div>


    <div class="form-row">
      <div class="form-group col">
        <label for="textarea">Description</label>
        <textarea class="form-control" name="description" id="textarea" rows="3" placeholder="Provide a description of this campground" required minlength="50"></textarea>
      </div>
    </div>
    
    <div class="form-row">
      <span class="col-12 pb-2">Profile Picture</span>
    </div>

    <div class="form-row flex-md-nowrap">
      <div class="form-group col-12 col-md-auto w-50 flex-shrink-1 mb-0">
        <input type="text" class="form-control" name="imageURL" id="imageURL" placeholder="Image URL" required>
      </div>
      <span class="d-flex col-12 py-2 px-4 col-md-auto">OR</span>
      <div class="form-group col-12 col-md-auto w-50 flex-shrink-1">
        <label class="custom-file-label mx-1" for="image">Image Upload</label>
        <input type="file" class="form-control-file" id="image" name="image" accept="image/*" required>
      </div>      
    </div>

    <div class="form-row justify-content-center mt-3 mt-md-5">
      <button type="reset" class="btn grey-btn col-5 col-sm-3 mr-3">Reset</button>
      <button type="submit" class="btn green-btn col-5 col-sm-3">Submit</button>      
    </div>

  </form>

</main>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCODv1xY28AoyCZZU3U2yLWirTRc6PJ3_c&libraries=places"></script>
<script>
    const input = document.getElementById('location');
    autocomplete = new google.maps.places.Autocomplete(input);
</script>

<% include ../partials/footer %>